<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <section class="section--principal">

        <%- include('partials/nav.ejs') %>
        
        <article>
            <h2><%= h2 %> </h2>
           <form action="/salvar-post" method="post">
            <div>
                
                <input type="text" name="title" id="title" placeholder="Titulo">
            </div>
            <div>
                <textarea name="text" id="text" cols="30" rows="10" placeholder="Texto"></textarea>
            </div>
            <div>
                <input type="number" name="stars" id=""stars max="5" placeholder="quantas estrelas?">
            </div>
            <button type="submit">Enviar</button>
           </form>
        </article>

        
    
        </section>
    
        <%- include('partials/footer.ejs') %>
</body>
</html>